* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #111;
}

header {
  background-color: #111;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  width: 90%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h1 {
  font-size: 2rem;
  font-weight: 700;
}

.header-content span {
  font-family: serif;
  margin-left: 10px;
}

.icons img {
  width: 32px;
  margin-left: 10px;
  transition: transform 0.2s;
}

.icons img:hover {
  transform: scale(1.1);
}

.hero img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 180px;
  width: 100%;
  text-align: center;
  color: #000;
}

.hero-text h2 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.futuro {
  text-align: center;
  padding: 40px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 30px;
}

.card {
  width: 250px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}


.card p {
  margin-top: 10px;
  font-weight: 500;
}

.honrarias {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

.honra-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.honra img {
  width: 150px;
  height: 170px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 10px;
}

footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

footer a {
  color: #25D366;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

